@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("truetype");
}

.departments-list-container {
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 1200px;
  font-family: SF-Pro-Display-Regular, sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid layout */
  grid-gap: 20px;
}

.card {
  padding: 30px; /* Increased padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: SF-Pro-Display-Regular, sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #31b0cd;
}

.card:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0;
  font-size: 20px; /* Increased font size */
  color: #333;
}

.professors-container {
  margin-top: 20px;
}

.return-button {
  background-color: #9c80c4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 1.002rem;
  margin-bottom: 20px;
}

.return-button:hover {
  background-color: #7389ea;
}
